<form action="/mark-as-important-note" method="post">
    <input type="hidden" name="fromView" value="<%= fromView %>">
    <input type="hidden" name="noteId" value="<%= note.id %>">
    <button class="btn btn-small" type="submit">Mark As Important</button>
</form>