<%- include('shared/views/start.ejs') %>
	<%- include('shared/views/navigation.ejs') %>

		<section class="page-404">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<a href="/">
							<img src="/images/logo.png" alt="Quick Notes Tracker Logo" />
						</a>
						<h1>404</h1>
						<h2>Page Not Found</h2>
						<a href="/" class="btn btn-main"><i class="tf-ion-android-arrow-back"></i> Go Home</a>
						<p class="copyright mt-5 mb-0">Copyright
							<script>document.write(new Date().getFullYear())</script> &copy; Designed & Developed by <a
								href="https://www.linkedin.com/in/darshan-trambadiya">Darshan Trambadiya</a>. All rights
							reserved.
					</div>
				</div>
			</div>
		</section>

		<%- include('shared/views/end.ejs') %>